#results{
  /*position: absolute;*/
  margin-top: 3.5%;
  margin-left: 2%;
  height: 100%;
  width: 30%;
  /*float: left;*/
  position: absolute;
  overflow: auto;
  box-sizing: border-box;
  top: 0;
  left: 0;
  white-space: wrap;
}
#tabs{
  width: 30%;
}
.container{
  overflow: auto;
}
#map{
  left: 30%;
  height: 100%;
  width: 75%;
  position: absolute;
}


body{
     background-image: url("restaurant.png");
}

h1{
     text-align: center;
}

.wrapper {
    text-align: center;
}

/*.button {
    position: absolute;
    top: 50%;
}*/

.savedJobs{
  margin-top: 4%;
  margin-left: 2%;
}
