
     <h1>Home Page</h1>

<div class="wrapper">

     <select id = "selKeyword" ng-model="keyword">
           <option value = "IT">IT</option>
           <option value = "Developer">Developer</option>
           <option value = "Contractor">Contractor</option>
     </select>


     <select id = "selCity" ng-model="location">
           <option value = "Atlanta">Atlanta</option>
           <option value = "Philidelphia">Philidelphia</option>
           <option value = "Chicago">Chicago</option>
           <option value = "Miami">Miami</option>
           <option value = "Washington">Washington</option>
           <option value = "Montgomery">Montgomery</option>
           <option value = "Juneau">Juneau</option>
           <option value = "Phoenix">Phoenix</option>
           <option value = "Little Rock">Little Rock</option>
           <option value = "Sacramento">Sacramento</option>

     </select>
     <button class="btn btn-primary" ng-click="searchJobs()">GO!</button>

</div>
