
     <h1>Home Page</h1>

<div class="wrapper">

     <select id = "selKeyword" ng-model="keyword">
           <option value = "IT">IT</option>
           <option value = "Developer">Developer</option>
           <option value = "Contractor<">Contractor</option>
     </select>


     <select id = "selCity" ng-model="location">
           <option value = "Atlanta">Atlanta</option>
           <option value = "Philidelphia">Philidelphia</option>
           <option value = "Chicago">Chicago</option>
           <option value = "Miami">Miami</option>
           <option value = "Washington">Washington</option>
           
     </select>

     <!--<input type="text" placeholder="City or Zip" ng-model="location">-->
     <!--<input type="text" placeholder="Job Keyword" ng-model="keyword">-->
     <button class="btn btn-primary" ng-click="searchJobs()">GO!</button>

<!-- <form action = "">
  <h1>Select Your Location</h1>
  <fieldset>
  <select id = "selCity" ng-model="location">
        <option value = "Atlanta">Atlanta</option>
        <option value = "Philidelphia">Philidelphia</option>
        <option value = "Chicago<">Chicago</option>
  </select>
 <input type = "button" value = "Select City" onclick = "selectCity()"/>
  </fieldset>
 </form> -->

</div>
