<div ng-controller="JobSearch">
     <div id="results">
          <nav style="margin-bottom: 20px;">

               <a href="#/savedJobs" class="btn btn-primary">My Saved Jobs</a>
          </nav>
          <div ng-repeat="job in allResultsList" ng-click="openInfoWindow(job)">
               <p>Company Name: {{job.MatchedObjectDescriptor.OrganizationName}}</p>
               <p >City: {{job.MatchedObjectDescriptor.PositionLocation[0].CityName}}</p>

               <!-- <p >Location: {{job.MatchedObjectDescriptor.PositionLocation[0].Latitude}}, {{job.MatchedObjectDescriptor.PositionLocation[0].Longitude}}</p> -->
               <hr>
          </div>
     </div>

     <div class="container">
          <div id="map">
          </div>
     </div>
</div>
